.privacy__page {
    @media (min-width: 768px) {
        .navbar-header .navbar-brand {
            color: black;
            &:hover,
            &:focus {
                color: #444;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: black;
            &:hover {
                color: #444;
            }
        }
    }
}

.privacy__main {
    padding: 10rem 0;
}